<section class="newsletter">
    <h2>Sign-up for the newsletter</h2>
    <p>Be one of the first users who joins our awesome service. By registering to the newsletter we'll send you a message as soon as we launch.</p>

    <div class="form">
        <div class="form-wrapper">
            <input type="text" placeholder="your@email.com" title="Newsletter Sign-Up">
            <button type="submit">Sign-Up</button>
        </div>
    </div>
</section>