<div class="social">
    <h2>Follow us</h2>
    <ul>
        <li>
            <a href="">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fab fa-pinterest"></i>
            </a>
        </li>
    </ul>
</div>